.report-generation-container {
  padding: 20px;
  width: 50%;
  margin: auto;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.report-generation-button {
  padding: 10px 20px;
  background-color: #a25352;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.report-generation-button:hover {
  background-color: #7f4140;
}

.existing-client-bubble button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.bubble-button.selected {
  background-color: #a25352; /* Selected button */
  color: white;
}

.bubble-button {
  background-color: #f0f0f0; /* Unselected button */
}

.client-action-bubble button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.client-action-bubble .selected {
  background-color: #a25352;
  color: white;
}

.link-button {
  background-color: #a25352;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  margin: 10px;
}

.link-button:hover {
  background-color: #7f4140;
}

.view-forms, .manual-entry {
  margin-top: 10px;
}

.clients-table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}

.clients-table th,
.clients-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.clients-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}
